*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font family link  */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');


  body{
    font-family: 'Work Sans', sans-serif;
  }



  /* nav css style  */


  /* nav{
  max-width: 1400;

  } */

  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 auto;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);

  }


  .logo{
 
     width: 50%;

  }
  .logo img{
     
      object-fit: cover;
  }


  .menu{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
  
  }
  .menu a{
    text-decoration: none;
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
   
 

  }

  .menu .follow-us{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 10px;
  }

  .menu .fa-youtube{
    color: red;
  }

  .menu .fa-tiktok{
     width: 20px;
  }



  /* Banner section area start here */



  .banner{


  }

  .banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;

  }


  .banner-text{
    width: 50%;
  
  }


  .text-title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;  

  }

  .goat{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg,#F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }


  .font-with-text{
   margin-bottom: 20px;
 
  
  }
  .font-with-text .svg-pic{
    width: 16px;
   
  }


  .btn-primary{
   padding:1.2rem 2rem;
   color: #fff;
   border: none;
   background-color: #FF42A5;
   border-radius: 40px;
   gap: 10px;
   display: inline-flex;
   color: #FFF;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;

  }

  .btn-primary:hover{
    background-color: #4EC5F7;
    color: #fff;
  }

  .btn-rogue{
    padding: 1.2rem 2rem;
    color: #fff;
    border: none;
    background-color: #4EC5F7;
    border-radius: 40px;
    gap: 10px;
    display: inline-flex;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

  }
  .btn-rogue:hover{
    background-color: #FF42A5;
    color: #fff;
  }



  .banner-img{
   width: 50%;

  }

  .banner-img img{
    width: 100%;
    height: auto;
  }


  /* Main area css  */

  main{
  
    max-width: 1400px;
    margin: 0 auto;
  

  }




  /* gamer area css  */


  .gamer{
    background:linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 2rem 0rem;
    
  }

  .gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: 600px;
    margin: 0 auto;

  }

  .gamer-img{
     width: 50%;
  }
  .gamer-img img{
     width: 100%;
  }


  .gamer-text{
    width: 50%;
    text-align: right;
  }
  .gamer-text h1{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .gamer-text p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin: 1.5rem 0rem;
    
  }

  .gamer-text h2{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px; 
    margin: 1rem 0rem;
  }
  .gamer-text h2 span{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; 
  }



  /* main section */

  main{
    max-width: 1400px;
    margin: 0 auto;
  }


  /* funny video css style  */
  .funny-class{
    max-width: 1400px;
    margin: 0 auto;
  }
  .funny-video{

    text-align: center;
    margin: 1rem 0rem;
  }
  .funny-video h1{

    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;

    
  }

  .funny-video h1 .gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .funny-video p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin: 1rem 0rem;

}

.video-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
    gap: 15px;

}





.videos{
    position: relative;
    overflow: hidden;
   
}


.img-hover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    opacity:0.8;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    
}

.img-hover .icon-play{
  width: 30px;
   display: flex;
   height: auto;

}


.videos:hover .img-hover{
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;

    
}

.video:hover .img-img{
    transform: scale(1.5);
}

.img-img{
    transition: 0.3s ease;
}


.video img{
  width: 100%;
  height: auto;
  cursor: pointer;
 
  
}

.video p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 1rem;
    text-align: left;
}







/* Download item css style here  */


.iteam-download{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Download-text{
    width: 50%;
    
}
.Download-text h2{
    font-family: Work Sans;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px   
    
}
.Download-text p{
    color: #534C64;
    margin-top: 15px;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;  
    
}


.download-img{
    width: 50%;
    margin: 0 auto;
}

.img-a{
    position: relative;
    margin-left: 100px;
}
.img-a img{
  width: 100%;
  height: auto;
}
.img-b{
    position:absolute;
    margin-top: -300px;
    
}
.img-b img{
    width: 100%;

}

.Download-text h1 .gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }






  /* play game online area  */


  .play-game{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin-top: 200px;
   margin-bottom: 200px;
  
  }


  .play-game-img{
  width: 50%;
  margin: 0 auto;


  }

  .play-img-a{
    position: relative;
    margin-right: 100px;
  }
  .play-img-a img{
   width: 100%;
   height: auto;
 
  }
  .play-img-b{
    position: absolute;
    right: 0;
    width: 318px;
    height: 365px;

  }
  .play-img-b img{
   
    margin-top: -200px;
    margin-left: 100px;
    object-fit: cover;
    
    
   
  }


  .play-game-details{
  width: 50%;
  text-align: left;
  margin-left: 100px;
    
  }
  .play-game-details h1{
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;

    
  }


  .play-game-details p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;

    
  }
  .play-game-details h1 .gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }



  /* careers area css style start */

  .careers{
    background-color: #FF42A5;
    /* height: 821px; */
    margin-bottom: 100px;
    padding: 100px 0px;
    
  }


  .careers-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
  }


  .careers-text{
    width: 50%;

  }


  .careers-title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;


  }
  .careers-description{
     color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin: 1.5rem 0rem;
 



  }



  .careers-post{
 display: flex;
 justify-content: space-between;
 align-items: end;
 color: #fff;
    
  }
  .careers-post-a{


  }
  .careers-post-a p{
   margin: 1rem 0rem;
   color: #FFF;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 400;
 

  }

  .careers-post-b{


  }
  .careers-post-b p{
   margin: 1rem 0rem;
   color: #FFF;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 400;

  }


  .careers-img{
    width: 50%;
  }
  .careers-img img{
    width: 100%
  }


  .see-post{
    padding: 1rem 3rem;
    border: none;
    background-color: #fff;
    color: #F948B2;
    text-transform: uppercase;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
  
    border-radius: 40px;
    cursor: pointer;
  }

  .see-post:hover{
    background-color: #F948B2;
    color: #fff;
    cursor: pointer;
    transition: 1s ease-in-out;
    border: 1px solid #fff;
  }



  /* our product area css style */



  .product-container{
    max-width: 1400px;
    margin:0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 16px 0px;
   

  }
  .product{
   margin: 150px 0px;
   
  }



  .our-product{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   align-items: center;
   justify-content: center;

 

  }


  .produt-a{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    border-radius: 50px;
    column-gap: 10px;
    background-color: #fff;
    padding: 0.5rem;
  }


  .produt-a img{
   object-fit: cover;

  }

  .produt-a:hover {
    border: 1px solid red;
    cursor: pointer;
    
    
  }
  .produt-a p:hover{
    color: red;
  }

  .produt-a p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }


  /* product-b  */





  .our-products{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   


  }


  .product-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    border-radius: 50px;
    column-gap: 10px;
    background-color: #fff;
    padding: 0.5rem;
  }

  .product-1:hover{
    border: 1px solid red;
    cursor: pointer;
  }
  .product-1 img{
   object-fit: cover;

  }

  .product-1 p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }







  /* Footer area  style start  */


  .footer{
   background-color: #0B0223;
   

  }

  

  .footer-container{
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

   

  }


  .footer-header{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    

  }
  .footer-header img{

    object-fit:cover;
    width: 100%;
    height: auto;

  }
  .footer-header h1{
    color:#fff;
    margin-left: 10px;
    

  }


  .footer-menu{
   display: flex;
   justify-content: center;
   
   
    
  }
  .footer-menu a{
   text-decoration: none;
   margin-top: 50px;
   margin-right: 15px;
   padding: 10px;
   color: #fff;
  
   text-align: center;
   font-family: Work Sans;
   font-size: 18px;
   font-weight: 600;
  }


  .footer-header h1 .gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }



.footer-icon{

  margin: 50px 0px;
}
  .fa-brands{
    font-size: 20px;
    color: #fff;
    padding: 16px;
    cursor: pointer;
  }


  .footer-about{
    display: flex;
    justify-content: center;
   
  }
  .footer-about p{
 
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;

  }


  .footer-copy{
    margin:50px 0px;
  }

  .footer-copy p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
  }